<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputLocation" value="C:\input\" />
    <add key="NotificationTarget" value="http://localhost:50301" />
    <add key="KafkaServerAddress" value="localhost:9092" />
    <add key="FileReadTopicName" value="FileRead" />
  </appSettings>
</configuration>